{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-5">

<form method="post" action="{% url 'login' %}">
    <h2>Sign in</h2>
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>

</div>
<div class="col-4"></div>
</div>
</div> <!-- /container -->
{% endblock %}
