{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-5">

    <h3>Forgot your password?</h3>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Send me instructions</button>
    </form>

</div>
<div class="col-4"></div>
</div>
</div> <!-- /container -->
{% endblock %}