{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-6">

    <h3>Password reset complete</h3>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>

</div>
<div class="col-3"></div>
</div>
</div> <!-- /container -->
{% endblock %}
