{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-6">

<form method="post">
    <h2>Enter new password</h2>
    <p>Please enter your new password twice so we can verify you typed it correctly.</p>
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Change my password</button>

</form>

</div>
<div class="col-3"></div>
</div>
</div> <!-- /container -->
{% endblock %}