{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-4">
<div class="col-3"></div>
<div class="col-5">

<form method="post">
    <h2>Contact Us</h2>
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-4">Send</button>


</form>

</div>
<div class="col-4"></div>
</div>
</div> <!-- /container -->
{% endblock %}
