{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">My posts</h1>
            {% if user_draft_list %}
            {% for post in user_draft_list %}
            <!-- Draft Post -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <span class="card-title h2"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></span>
                                <div class="btn-toolbar float-right">
                                    {% if post.draft %}
                                        <button type="button" class="btn btn-warning mr-2">Draft</button>
                                    {% endif %}
                                    <a href="{% url 'post_edit' post.slug %}"><button type="button" class="btn btn-info mr-2">Edit post</button></a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Delete post</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the post "{{ post.title }}"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <form action='{% url 'post_delete' post.slug %}' method='POST'>{% csrf_token %}
                                                            <button type="submit" class="btn btn-secondary">Yes, delete.</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                {% endif %}

            <!-- Blog Post -->
                {% if user_post_list %}
                    {% for post in user_post_list %}

                        <div class="card mb-4">
                            <div class="card-body">
                                <span class="card-title h2"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></span>
                                <div class="btn-toolbar float-right">
                                    {% if post.draft %}
                                        <button type="button" class="btn btn-warning mr-2">Draft</button>
                                    {% endif %}
                                    <a href="{% url 'post_edit' post.slug %}"><button type="button" class="btn btn-info mr-2">Edit post</button></a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Delete post</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the post "{{ post.title }}"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <form action='{% url 'post_delete' post.slug %}' method='POST'>{% csrf_token %}
                                                            <button type="submit" class="btn btn-secondary">Yes, delete.</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                Posted on {{ post.published_date|date:"F j, Y" }} by <a href="#">{{ post.author.username }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no posts in the blog.</p>
                {% endif %}
            <!-- Blog Entries Column End -->
            </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">

                <form method="GET" action="{% url 'search' %}">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </div>
                </form>

            </div>
          </div>

          <!-- Side Widget -->
            <!--
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>
        <!-- Sidebar Widgets Column End -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
{% block scripts %}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>
{% endblock %}