{% extends 'blog/base.html' %}
{% block content %}

<!-- Page Content -->
    <div class="container">

      <div class="row">

      <!-- Form Column -->
        <div class="col-lg-8">
        {% if post.slug %}
        <h1 class="mt-4">Edit Post</h1>
        {% else %}
        <h1 class="mt-4">New Post</h1>
        {% endif %}
            <form method="post" action="{{ action }}" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        
                        {{ field.label_tag }}
                        {{ field }}
                        
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-dark mt-4 mb-4">Save</button>
            </form>
        
        </div>

      <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <form method="GET" action="{% url 'search' %}">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </div>
                </form>
            </div>
          </div>

          <!-- Side Widget -->
            <!--
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}

