{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          {% if search_query %}
          <h1 class="mt-4">Search for "{{ search_query }}"</h1>

        {% endif %}

            {% if my_post_list %}
            {% for post in my_post_list %}
          <!-- Blog Post -->
          <div class="card mb-4 mt-4">
          {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
          {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.preview }}</p>
              <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.published_date|date:"F j, Y" }} by
              <a href="#">{{ post.author.username }}</a>
            </div>
          </div>

            {% endfor %}
            {% else %}
            <p>There are no posts in the blog.</p>
            {% endif %}

          <!-- Pagination -->
        {% if is_paginated %}
          <ul class="pagination justify-content-center mb-4">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Newer</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Older &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Older &rarr;</a>
                </li>
            {% endif %}

          </ul>
        {% endif %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <form method="GET" action="">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </div>
                </form>
            </div>
          </div>


          <!-- Side Widget -->
            <!--
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}