{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ post.title }}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ post.author.username }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          {% if post.draft %}
              <p class="text-danger">Draft</p>
          {% else %}
              <p>Posted on {{ post.published_date|date:"F j, Y " }}at{{ post.published_date|time:" g:i A" }}</p>
          {% endif %}

          <hr>

        {% if post.category %}
            {% for cat in post.category.all %}
            <button type="button" class="btn btn-outline-primary mb-3" disabled>{{ cat }}</button>
            {% endfor %}
        {% endif %}

          <!-- Preview Image -->
          {% if post.image %}
              <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
              <hr>
          {% endif %}



          <!-- Post Content -->
          <p class="lead">{{ post.preview }}</p>

          <p>{{ post.content }}</p>

          <hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">

                <form method="GET" action="{% url 'search' %}">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </div>
                </form>
            </div>
          </div>

          <!-- Side Widget -->
            <!--
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
