{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-5">

    <h3>Success! Email sent.</h3>
    <p>Thank you for your message.</p>

</div>
<div class="col-4"></div>
</div>
</div> <!-- /container -->
{% endblock %}